<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
    <div class="alert alert-danger"><%= el.msg %></div>
    <% }) %> <% } %> <% if (locals.messages.info) { %> <% messages.info.forEach(
    el => { %>
    <div class="alert alert-danger"><%= el.msg %></div>
    <% }) %> <% } %>

    <div class="app">
      <h1>TODO</h1>
      <h2>The best to-do app ever!</h2>

      <form class="form signupLogin" action="/login" method="POST">
        <input class="input" type="email" name="email" placeholder="Email" />
        <input
          class="input"
          type="password"
          name="password"
          placeholder="Password"
        />
        <input class="submit-form btn input" type="submit" value="Login" />
      </form>
      <!-- <a href="/login"> Login</a> -->
      <a class="signup input btn-alt" href="/signup"> Signup</a>
    </div>
    <input
      id="darkMode"
      class="submit-form btn input"
      type="button"
      value="Dark Mode"
    />
    <script src="js/main.js"></script>
  </body>
</html>
