/* HOME PAGE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;

  width: 55%;

  padding: 3rem;
  border: 3px solid #aaa;
  border-radius: 12px;
}

.app h1 {
  font-size: 4.8rem;
  margin-bottom: 3rem;
}

.app h2 {
  font-size: 2.8rem;
}

form.signupLogin {
  margin: 4rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;

  column-gap: 2rem;
  row-gap: 2rem;
}

.input {
  padding: 1.5rem;

  border-radius: 7px;
  border: 2px solid #ddd;
}

.btn {
  font-size: 1.6rem;

  color: #fff;
  background: #121bbb;
  border: 2px solid #121bbb;

  width: 25%;

  transition: all 0.2s;
}

.btn:hover {
  cursor: pointer;
  color: #121bbb;
  background: #fff;
}

.submit-form {
  margin: 2rem;
  grid-column: span 2;
}

.signup {
  text-decoration: none;
  text-align: center;
  align-self: flex-end;
}
 
/* Todo and Logout Button */
  
body {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  font-family: "Noto Sans", sans-serif !;
  min-height: 95vh;
}

h1 {
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logOutButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 2rem;
  background: #3f53d9;
  color: white;
  text-decoration: none;
}

.mainSection {
  min-height: 30vh;
  min-width: 60vw;
}

.todoItem {
  height: 1.5rem;
  width: fit-content;
}

.todoItem:hover,
.del:hover,
.fa-circle-plus:hover {
  cursor: pointer;
}

.itemsLeft {
  color: #3f53d9;
}
.completed {
  text-decoration: line-through;
  color: gray;
}
.not {
  text-decoration: underline;
}

/* Styling for add button form section */

.none {
  display: none;
}

.hidden {
  display: hidden;
}

.plusButtonCont {
  border: 2px solid black;
  border-radius: 50%;
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.plusButtonCont:hover {
  /* background: rgba(3, 3, 235,0.2); */
  box-shadow: 0 0 2px 2px grey;
}

.plusButtonCont:active {
  transform: translateX(0.3rem);
}

.plusButton {
  font-size: 2rem;
}

.addForm {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.formTextBox {
  visibility: hidden;
  width: 1vw;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in;
}

.textBoxGrow{
  visibility: visible;
  width: 50vw;
}

