/* HOME PAGE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 55%;
  padding: 3rem;
  border: 3px solid #aaa;
  border-radius: 12px;
}

.app h1 {
  font-size: 4.8rem;
  margin-bottom: 3rem;
}

.app h2 {
  font-size: 2.8rem;
}

form.signupLogin {
  margin: 4rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;

  column-gap: 2rem;
  row-gap: 2rem;
}

.input {
  padding: 1.5rem;
  border-radius: 7px;
  border: 2px solid #ddd;
}

.btn {
  font-size: 1.6rem;
  color: #fff;
  background: #121bbb;
  border: 2px solid #121bbb;
  width: 12rem;
  transition: all 0.2s;
}

.btn:hover {
  cursor: pointer;
  color: #121bbb;
  background: #fff;
}

.btn-alt {
  font-size: 1.6rem;
  color: #121bbb;
  background: #fff;
  border: 2px solid #121bbb;
  width: 12rem;
  transition: all 0.2s;
}

.btn-alt:hover {
  cursor: pointer;
  color: #fff;
  background: #121bbb;
}

.submit-form {
  margin: 2rem;
  grid-column: span 2;
}

.signup {
  text-decoration: none;
  text-align: center;
  align-self: flex-end;
}

/* Todo and Logout Button */

body {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  min-height: 95vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3.2rem;
  margin-top: 2rem;
}

.logOutButton {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 5rem;
  height: 2rem; */
  background: #3f53d9;
  color: white;
  text-decoration: none;

  border-radius: 12px;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
}

.todo--items {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  padding: 2rem 0 2rem 1.1rem ;

  font-size: 2.4rem;
}

.mainSection {
  min-height: 30vh;
  min-width: 60vw;
}

.todoItem {
  /* height: 1.5rem; */
  width: fit-content;

  display: flex;
  gap: 2rem;
}

.del {
  padding: 0.5rem;
  border: none;
  font-size: 2.6rem;
}

.del:hover {
  cursor: pointer;
}

.todoItem:hover,
.del:hover,
.fa-circle-plus:hover {
  cursor: pointer;
}

.itemsLeft {
  color: #3f53d9;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
.not {
  text-decoration: none;
}

/* Styling for add button form section */

.none {
  display: none;
}

.hidden {
  display: hidden;
}

.addForm {
  position: static;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 3.2rem;
}

.formTextBox {
  visibility: hidden;
  width: 1vw;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in;
}

.textBoxGrow {
  visibility: visible;
  display: block;
  width: 100%;
  flex-grow: 2;
}

section.addForm > form {
  width: 100%;
}

.plusButtonCont {
  border: 2px solid black;
  border-radius: 50%;
  height: 40px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.plusButtonCont:hover {
  /* background: rgba(3, 3, 235,0.2); */
  box-shadow: 0 0 2px 2px grey;
}

.plusButtonCont:active {
  transform: translateX(0.3rem);
}

.plusButton {
  font-size: 2rem;
}

.plusbotton > form {
  width: 100%;
}


#darkMode {
  position: fixed;
  right: 15px;
  bottom: 10px;
}

/* Media queries */

@media (max-width: 1000px) {
  form.signupLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .app h1, .app h2 {
    text-align: center;
  }
  .signup {
    align-self: center;
  }
}

@media (max-width: 700px) {
  .app {
    width: 80%;
  }
}

button {
  background: transparent;
}